.dish {
  border-style: solid;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 13px;
}
.price{
  text-align: right;
}
