.card {
  min-height: 400px;
  background-color: white;
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;

  img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    min-height: 250px;
    max-height: 250px;
    width: auto;
    height: auto;

  }

  .content {
    padding-left: 10px;

  }

  a {
    color: inherit;
  }

}
