.card {
  min-height: 400px;
  background-color: white;
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;

  img {
    width: 100%;
  }

  .content {
    padding-left: 10px;

  }

  a {
    color: inherit;
  }

}
